.settings-02-icon4 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(-180deg);
}
.settings-frame,
.settings5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.settings5 {
  box-shadow: -2px 0 80px -6px #dee5fe;
  border-radius: var(--br-base) 0 0 var(--br-base);
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-5xl) var(--padding-base);
  transform: rotate(180deg);
  cursor: pointer;
}
.settings-frame {
  padding: var(--padding-277xl) 0 0;
}
.body4,
.welcome-back3 {
  position: relative;
  text-align: left;
}
.welcome-back3 {
  margin: 0;
  font-size: var(--font-size-13xl);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gray-300);
}
.body4 {
  align-self: stretch;
  height: 35px;
  font-size: var(--font-size-mini);
  line-height: 160%;
  font-family: var(--font-manrope);
  color: var(--dark-2);
  display: inline-block;
}
.welcome-back-container {
  width: 347px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  max-width: 100%;
}
.flat-color-iconsgoogle3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.continue-google3 {
  height: 11px;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  min-width: 121px;
}
.continue-google-container,
.flat-color-iconsgoogle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.flat-color-iconsgoogle-container {
  cursor: pointer;
  border: 1px solid var(--color-lavender-100);
  padding: var(--padding-sm) var(--padding-mini);
  background-color: transparent;
  border-radius: var(--br-12xl);
  flex-direction: row;
  gap: var(--gap-5xs);
}
.logosfacebook-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.continue-facebok3 {
  height: 11px;
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
}
.continue-facebok-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.frame-parent12,
.logosfacebook-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logosfacebook-container {
  cursor: pointer;
  border: 1px solid var(--color-lavender-100);
  padding: var(--padding-sm) var(--padding-base);
  background-color: transparent;
  border-radius: var(--br-12xl);
  gap: var(--gap-5xs);
}
.frame-parent12 {
  align-self: stretch;
  gap: var(--gap-base);
}
.frame-child3 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lavender-200);
  box-sizing: border-box;
}
.line-wrapper2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.or3 {
  position: relative;
  font-size: var(--font-size-mini);
  line-height: 28px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  min-width: 15px;
}
.frame-child4 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-lavender-200);
  box-sizing: border-box;
}
.line-wrapper3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.frame-parent13,
.frame-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent13 {
  width: 217px;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-wrapper2 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.email3,
.enter-your-email3 {
  font-family: var(--font-inter);
  font-size: var(--font-size-mini);
  position: relative;
  text-align: left;
  display: inline-block;
}
.email3 {
  font-weight: 500;
  color: var(--color-darkslategray-100);
  min-width: 39px;
}
.enter-your-email3 {
  width: 115px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 18px;
  color: var(--color-darkgray-100);
  padding: 0;
}
.email-container,
.enter-your-email-frame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.enter-your-email-frame {
  border-radius: var(--br-base);
  border: 1px solid var(--color-gainsboro-100);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-xl) var(--padding-xl);
}
.email-container {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-2xs);
}
.enter-password3,
.password3 {
  font-family: var(--font-inter);
  font-size: var(--font-size-mini);
  position: relative;
  text-align: left;
  display: inline-block;
}
.password3 {
  font-weight: 500;
  color: var(--color-darkslategray-100);
  min-width: 71px;
}
.enter-password3 {
  width: 111px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 18px;
  color: var(--color-darkgray-100);
  padding: 0;
}
.visibility-off-icon3 {
  height: 16px;
  width: 16px;
  position: relative;
}
.enter-password-parent1 {
  align-self: stretch;
  border-radius: var(--br-base);
  border: 1px solid var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-lgi) var(--padding-xl);
  gap: var(--gap-xl);
}
.frame-parent15,
.password-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-2xs);
}
.frame-parent15 {
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.forgot-password3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-cornflowerblue-100);
  text-align: left;
}
.frame-parent11,
.frame-parent14 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-parent11 {
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.login3 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 54px;
}
.login-frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-cornflowerblue-100);
  align-self: stretch;
  border-radius: var(--br-57xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.login-frame:hover {
  background-color: var(--color-cornflowerblue-200);
}
.dont-have-an3,
.sign-up3 {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkgray-200);
  text-align: left;
}
.sign-up3 {
  font-weight: 700;
  color: var(--color-royalblue);
  display: inline-block;
  min-width: 61px;
  white-space: nowrap;
}
.dont-have-an-account-container,
.frame-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.dont-have-an-account-container {
  flex: 1;
  gap: var(--gap-5xs);
}
.frame-wrapper3 {
  align-self: stretch;
  padding: 0 var(--padding-45xl);
}
.frame-parent10,
.frame-parent16 {
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent16 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent10 {
  margin: 0;
  width: 382px;
  gap: var(--gap-41xl);
}
.frame-parent10,
.frame-parent9,
.index-rotate-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent9 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.index-rotate-inner {
  width: 542px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-160xl);
  box-sizing: border-box;
  min-width: 542px;
  min-height: 844px;
}
.index-rotate-child {
  height: 1024px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 458px;
}
.index-rotate {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 194px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .index-rotate-inner {
    flex: 1;
  }
  .index-rotate {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .welcome-back3 {
    font-size: var(--font-size-7xl);
  }
  .index-rotate-inner {
    padding-bottom: var(--padding-97xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .index-rotate-child,
  .index-rotate-inner {
    min-width: 100%;
  }
  .index-rotate {
    gap: 97px;
  }
}
@media screen and (max-width: 450px) {
  .settings-frame {
    padding-top: var(--padding-173xl);
    box-sizing: border-box;
  }
  .welcome-back3 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent12 {
    flex-wrap: wrap;
  }
  .login3 {
    font-size: var(--font-size-base);
  }
  .frame-wrapper3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent10 {
    gap: var(--gap-11xl);
  }
  .frame-parent9 {
    flex-wrap: wrap;
  }
  .index-rotate-inner {
    padding-bottom: var(--padding-56xl);
    box-sizing: border-box;
  }
  .index-rotate {
    gap: var(--gap-29xl);
  }
}
